node_modules/
.expo/
dist/
web-build/

# Native build artifacts
android/
ios/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Environment variables
.env
.env.local

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# Expo
expo-env.d.ts
